<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<h2>Dashboard</h2>

<h3>Welcome {{ name }}</h3>

<br>

<form action="/exam" method="GET">
    <button type="submit">Start Exam</button>
</form>

<br>

<form action="/pause_exam" method="POST">
    <button type="submit">Pause Exam</button>
</form>

<br>

<form action="/resume_exam" method="POST">
    <button type="submit">Resume Exam</button>
</form>

<br>

<form action="/end_exam" method="POST">
    <button type="submit">End Exam</button>
</form>

</body>
</html>